/* begin Box, Sheet */
.rco-sheet-tl
{
  clip: rect(auto 20px 20px auto);
}

.rco-sheet-tr
{
  clip: rect(auto auto 20px 20px);
}

.rco-sheet-bl
{
  clip: rect(20px 20px auto auto);
}

.rco-sheet-br
{
  clip: rect(20px auto auto 20px);
}

.rco-sheet-tc
{
  clip: rect(auto auto 20px auto);
}

.rco-sheet-bc
{
  clip: rect(20px auto auto auto);
}

.rco-sheet-cr
{
  clip: rect(auto auto auto 20px);
}

.rco-sheet-cl
{
  clip: rect(auto 20px auto auto);
}

.rco-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.rco-nav .r
{
  clip: rect(auto auto auto 980px);
}

/* end Menu */

/* begin MenuItem */
.rco-menu a .r
{
  clip: rect(auto auto auto 404px);
}
/* end MenuItem */

/* begin Layout */
div.rco-content-layout
{
  display: block;
  zoom: 1;
  overflow: hidden;
}
/* end Layout */

/* begin Button */
.rco-button-wrapper .r
{
  clip: rect(auto auto auto 405px);
}
/* end Button */

/* begin Box, Block, VMenuBlock */

.rco-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.rco-vmenublockheader .r
{
  clip: rect(auto auto auto 978px);
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */

.rco-vmenublockcontent-body
{
  zoom: 1;
}

.rco-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.rco-vmenu .rco-vmenu-separator, ul.rco-vmenu .rco-vmenu-separator-span, ul.rco-vmenu li.rco-vsubmenu-separator, ul.rco-vmenu .rco-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

.rco-vmenu ul, .rco-vmenu li
{
  zoom: 1;
}

ul.rco-vmenu a .r
{
  clip: rect(auto auto auto 975px);
}
/* end VMenuItem */

/* begin Box, Block */

.rco-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.rco-blockheader .r
{
  clip: rect(auto auto auto 976px);
}
/* end BlockHeader */

/* begin Box, BlockContent */

.rco-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.rco-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.rco-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.rco-footer-r
{
  clip: rect(auto auto auto 20px);
}

/* end Footer */

/* begin LayoutCell, content */
div.rco-sidebar1
{
  width: auto;
}

div.rco-content-layout div.rco-layout-cell, div.rco-content-layout div.rco-layout-cell div.rco-content-layout div.rco-layout-cell
{
  display: block;
  overflow: hidden;
  float: left;
  clear: right;
  margin-bottom: -32000px;
  padding-bottom: 32000px;
}

div.rco-layout-cell div.rco-layout-cell
{
  float: none;
  clear: both;
  margin-bottom: 0;
  padding-bottom: 0;
}/* end LayoutCell, content */