/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 1200px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: white;
}

#content {
	display: table;
	border-width: 10px;
}

#mainContent {
	display: table-cell;
	width: 1200px;
	padding-right: 22px;
}

.ui-panel-titlebar{
	font-size: 18px;
	color: blue;
	font-weight: bold;
}