.annotated {
	position: relative;
	/*display:inline-block; If you do not need to support IE7 and below uncomment this line and remove the inline width and height styles on the <figure> in your markup. */
}

.annotated img {
	/* Set this to stop white-space appearing under the image. */
	display: block;
	border-style: none;
}

.annotated b { /* Hide the figcaption's title. */
	position: absolute;
	left: -99999px;
	border-style: none;
}

.annotated ul { /* Set up the canvas for the annotations to sit on. */
	list-style: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-style: none;
}

.annotated li {
	display: block;
	padding: 0 5px;
	/* Give them a width and a line-height suitable for your kind of images. I chose 50px. */
	width: 18px; /* 40px + 5px padding-right  + 5px padding-left = 50px */
	line-height: 17px;
	position: absolute;
	white-space: nowrap;
	text-indent: -99999px; /* Hide the text */
	cursor: pointer;
	border-style: none;
}

.annotated:hover li {
	/* When we hover the figure show us where the annotations are. */
	border: 1px solid #fff;
}

.annotated li:hover { /* Show the text on hover. */
	background: blue;
	color: white;
	font-size: small;
	font-weight:bold;
	z-index: 2; /* Bring current annotation above others. */
	/* Remove the width and text-indent to show us our text! */
	width: auto;
	text-indent: 0;
	/* A bit o' progressive enhancement */
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}