/* begin Page */

img
{
  filter: expression(artFixPNG(this));
}/* end Page */

/* begin Box, Sheet */
.rco-sheet-tl
{
  clip: rect(auto 49px 49px auto);
}

.rco-sheet-tr
{
  clip: rect(auto auto 49px 49px);
}

.rco-sheet-bl
{
  clip: rect(49px 49px auto auto);
}

.rco-sheet-br
{
  clip: rect(49px auto auto 49px);
}

.rco-sheet-tc
{
  clip: rect(auto auto 49px auto);
}

.rco-sheet-bc
{
  clip: rect(49px auto auto auto);
}

.rco-sheet-cr
{
  clip: rect(auto auto auto 49px);
}

.rco-sheet-cl
{
  clip: rect(auto 49px auto auto);
}

.rco-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.rco-nav .r
{
  clip: rect(auto auto auto 1920px);
}

/* end Menu */

/* begin MenuItem */
.rco-menu a .r
{
  clip: rect(auto auto auto 409px);
}
/* end MenuItem */

/* begin Layout */
.rco-content-layout, .rco-content-layout-row {display: block;}
.rco-content-layout, .rco-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Button */
.rco-button-wrapper .rco-button-r
{
  clip: rect(auto auto auto 405px);
}
/* end Button */

/* begin Box, Block, VMenuBlock */

.rco-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.rco-vmenublockheader .r
{
  clip: rect(auto auto auto 1903px);
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */

.rco-vmenublockcontent-body
{
  zoom: 1;
}

.rco-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.rco-vmenu .rco-vmenu-separator, ul.rco-vmenu .rco-vmenu-separator-span, ul.rco-vmenu li.rco-vsubmenu-separator, ul.rco-vmenu .rco-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

.rco-vmenu ul, .rco-vmenu li
{
  zoom: 1;
}

ul.rco-vmenu a .r
{
  clip: rect(auto auto auto 1928px);
}
/* end VMenuItem */

/* begin Box, Block */
.rco-block-tl
{
  clip: rect(auto 14px 14px auto);
}

.rco-block-tr
{
  clip: rect(auto auto 14px 14px);
}

.rco-block-bl
{
  clip: rect(14px 14px auto auto);
}

.rco-block-br
{
  clip: rect(14px auto auto 14px);
}

.rco-block-tc
{
  clip: rect(auto auto 14px auto);
}

.rco-block-bc
{
  clip: rect(14px auto auto auto);
}

.rco-block-cr
{
  clip: rect(auto auto auto 14px);
}

.rco-block-cl
{
  clip: rect(auto 14px auto auto);
}

.rco-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.rco-blockheader .r
{
  clip: rect(auto auto auto 1902px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.rco-blockcontent-tl
{
  clip: rect(auto 7px 7px auto);
}

.rco-blockcontent-tr
{
  clip: rect(auto auto 7px 7px);
}

.rco-blockcontent-bl
{
  clip: rect(7px 7px auto auto);
}

.rco-blockcontent-br
{
  clip: rect(7px auto auto 7px);
}

.rco-blockcontent-tc
{
  clip: rect(auto auto 7px auto);
}

.rco-blockcontent-bc
{
  clip: rect(7px auto auto auto);
}

.rco-blockcontent-cr
{
  clip: rect(auto auto auto 7px);
}

.rco-blockcontent-cl
{
  clip: rect(auto 7px auto auto);
}

.rco-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.rco-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.rco-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.rco-footer-r
{
  clip: rect(auto auto auto 20px);
}

/* end Footer */

/* begin LayoutCell, content */
.rco-sidebar1 {width: auto;}
.rco-content-layout .rco-layout-cell, .rco-content-layout .rco-layout-cell .rco-content-layout .rco-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.rco-content-layout .rco-layout-cell, .rco-content-layout .rco-layout-cell .rco-content-layout .rco-layout-cell {  zoom:1; }
.rco-layout-cell .rco-layout-cell{ float: none; clear: both;}
/* end LayoutCell, content */


