/* begin Page */


#rco-main, table
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #151613;
  background-color: #FFFFFF;
  background-image: url('../images/Bottom_texture.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
}

.rco-postcontent,
.rco-postcontent li,
.rco-postcontent table,
.rco-postcontent a,
.rco-postcontent a:link,
.rco-postcontent a:visited,
.rco-postcontent a.visited,
.rco-postcontent a:hover,
.rco-postcontent a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.rco-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 32px;
}

.rco-postcontent a
{
  text-decoration: none;
  color: #000000;
}

.rco-postcontent a:link
{
  text-decoration: none;
  color: #000000;
}

.rco-postcontent a:visited, .rco-postcontent a.visited
{

  color: #5C5F53;
}

.rco-postcontent  a:hover, .rco-postcontent a.hover
{

  text-decoration: underline;
  color: #50B6D7;
}


.rco-postcontent h1
{
   margin: 21px 0 21px 0; 
   color: #217591;
 
}

.rco-postcontent h2
{
    color: #2B9ABF;
   margin: 19px 0 19px 0; 
   font-size: 24px;   
}

.rco-postcontent h3
{
   margin: 19px 0 19px 0; 
  color: #5C5F53; 
  font-size: 19px;    
}

.rco-postcontent h4
{
   margin: 20px 0 20px 0; 
   color: #151613; 
   font-size: 16px;   
}

.rco-postcontent h5
{
   margin: 26px 0 26px 0; 
   color: #151613;   
   font-size: 13px;
}

.rco-postcontent h6
{
   margin: 35px 0 35px 0; 
   color: #151613;
   font-size: 11px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#rco-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}

#rco-page-background-glare
{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
}

#rco-page-background-glare-image
{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  background-image: url('../images/page_gl.png');
  background-repeat: no-repeat;
  background-position: top left;
}

html:first-child #rco-page-background-glare
{
  border: 1px solid transparent;/* Opera fix */
}

#rco-page-background-middle-texture
{
  position: absolute;
  background-image: url('../images/Middle_texture.jpg');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: fixed;
  width:100%;
  min-height:100%;
  overflow:visible;
  
}


.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.rco-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 59px;
  min-height: 59px;
}

.rco-sheet-body
{
  position: relative;
  padding: 7px;
}

.rco-sheet-tr, .rco-sheet-tl, .rco-sheet-br, .rco-sheet-bl, .rco-sheet-tc, .rco-sheet-bc,.rco-sheet-cr, .rco-sheet-cl
{
  position: absolute;
}

.rco-sheet-tr, .rco-sheet-tl, .rco-sheet-br, .rco-sheet-bl
{
  width: 86px;
  height: 86px;
  background-image: url('../images/sheet_s.png');
}

.rco-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 43px, 43px, auto);
}

.rco-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 43px, 43px);
}

.rco-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(43px, 43px, auto, auto);
}

.rco-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(43px, auto, auto, 43px);
}

.rco-sheet-tc, .rco-sheet-bc
{
  left: 43px;
  right: 43px;
  height: 86px;
  background-image: url('../images/sheet_h.png');
}

.rco-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 43px, auto);
}

.rco-sheet-bc
{
  bottom: 0;
  clip: rect(43px, auto, auto, auto);
}

.rco-sheet-cr, .rco-sheet-cl
{
  top: 43px;
  bottom: 43px;
  width: 86px;
  background-image: url('../images/sheet_v.png');
}

.rco-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 43px);
}

.rco-sheet-cl
{
  left: 0;
  clip: rect(auto, 43px, auto, auto);
}

.rco-sheet-cc
{
  position: absolute;
  top: 43px;
  left: 43px;
  right: 43px;
  bottom: 43px;
  background-image: url('../images/sheet_c.png');
}

.rco-sheet
{
  top: 10px !important;
  margin-bottom: 10px !important;
  cursor:auto;
  width: 90%;
}


/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.rco-menu a, .rco-menu a:link, .rco-menu a:visited, .rco-menu a:hover
{
    outline: none;
}

.rco-menu, .rco-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.rco-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.rco-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.rco-menu li li
{
  float: none;
}

.rco-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.rco-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.rco-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.rco-menu:after, .rco-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.rco-menu, .rco-menu ul
{
  min-height: 0;
}

.rco-menu ul
{
  background-image: url('../images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.rco-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




/* menu structure */

.rco-menu
{
  padding: 4px 15px 0 15px;
}

.rco-nav
{
  position: relative;
  min-height: 31px;
  z-index: 100;
}

.rco-nav .l, .rco-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('../images/nav.png');
}

.rco-nav .l
{
  left: 0;
  right: 15px;
}

.rco-nav .r
{
  right: 0;
  width: 1920px;
  clip: rect(auto, auto, auto, 1905px);
}


/* end Menu */

/* begin MenuItem */
.rco-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 27px;
  cursor: pointer;
  text-decoration: none;
}


.rco-menu ul li
{
    margin:0;
    clear: both;
}


.rco-menu a .r, .rco-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 91px;
  background-image: url('../images/menuitem.png');
}

.rco-menu a .l
{
  left: 0;
  right: 12px;
}

.rco-menu a .r
{
  width: 424px;
  right: 0;
  clip: rect(auto, auto, auto, 412px);
}

.rco-menu a .t, .rco-menu ul a, .rco-menu a, .rco-menu a:link, .rco-menu a:visited, .rco-menu a:hover
{
  text-align: left;
  text-decoration: none;
}

.rco-menu a .t
{
  color: #FFFFFF;
  padding: 0 1px;
  margin: 0 12px;
  line-height: 27px;
  text-align: center;
}

.rco-menu a:hover .l, .rco-menu a:hover .r
{
  top: -32px;
}

.rco-menu li:hover>a .l, .rco-menu li:hover>a .r
{
  top: -32px;
}

.rco-menu li:hover a .l, .rco-menu li:hover a .r
{
  top: -32px;
}
.rco-menu a:hover .t
{
  color: #FFFFFF;
}

.rco-menu li:hover a .t
{
  color: #FFFFFF;
}

.rco-menu li:hover>a .t
{
  color: #FFFFFF;
}


.rco-menu a.active .l, .rco-menu a.active .r
{
  top: -64px;
}

.rco-menu a.active .t
{
  color: #185468;
}
/* end MenuItem */

/* begin MenuSeparator */
.rco-menu .rco-menu-li-separator
{
  display: block;
  width: 8px;
  height:27px;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.rco-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 20px;
  width: 280px;
  overflow: hidden;
  line-height: 20px;
  background-image: url('../images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 0;
  border-style: solid;
}

.rco-nav ul.rco-menu ul span, .rco-nav ul.rco-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.rco-menu ul a, .rco-menu ul a:link, .rco-menu ul a:visited, .rco-menu ul a:hover, .rco-menu ul a:active, .rco-nav ul.rco-menu ul span, .rco-nav ul.rco-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #113C4B;
  font-size: 12px;
  margin:0;
  padding:0;
}

.rco-menu ul li a:hover
{
  color: #000000;
  background-position: 0 -20px;
}

.rco-menu ul li:hover>a
{
  color: #000000;
  background-position: 0 -20px;
}

.rco-nav .rco-menu ul li a:hover span, .rco-nav .rco-menu ul li a:hover span span
{
  color: #000000;
}

.rco-nav .rco-menu ul li:hover>a span, .rco-nav .rco-menu ul li:hover>a span span
{
  color: #000000;
}


/* end MenuSubItem */

/* begin Layout */
.rco-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.rco-layout-cell, .rco-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.rco-content-layout .rco-content-layout{width: auto;margin:0;}
.rco-content-layout .rco-layout-cell, .rco-content-layout .rco-layout-cell .rco-content-layout .rco-layout-cell{display: table-cell;}
.rco-layout-cell .rco-layout-cell{display: block;}
.rco-content-layout-row {display: table-row;}
.rco-layout-glare{position:relative;}/* end Layout */

/* begin Button */
.rco-button-wrapper a.rco-button,
.rco-button-wrapper a.rco-button:link,
.rco-button-wrapper input.rco-button,
.rco-button-wrapper button.rco-button
{
  text-decoration: none;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #185468 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 33px;
  height: 33px;
  margin: 0 !important;
  padding: 0 16px !important;
  overflow: visible;
  cursor: default;
}

.rco-button img, .rco-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.rco-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .rco-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.rco-block select 
{
    width:96%;
}

.rco-button-wrapper.hover .rco-button, .rco-button-wrapper.hover a.rco-button:link, .rco-button:hover
{
  color: #DADBD6 !important;
  text-decoration: none !important;
}

.rco-button-wrapper.active .rco-button, .rco-button-wrapper.active a.rco-button:link
{
  color: #000000 !important;
}

.rco-button-wrapper .rco-button-l, .rco-button-wrapper .rco-button-r
{
  display: block;
  position: absolute;
  height: 109px;
  margin: 0;
  padding: 0;
  background-image: url('../images/button.png');
}

.rco-button-wrapper .rco-button-l
{
  left: 0;
  right: 14px;
}

.rco-button-wrapper .rco-button-r
{
  width: 417px;
  right: 0;
  clip: rect(auto, auto, auto, 403px);
}

.rco-button-wrapper.hover .rco-button-l, .rco-button-wrapper.hover .rco-button-r
{
  top: -38px;
}

.rco-button-wrapper.active .rco-button-l, .rco-button-wrapper.active .rco-button-r
{
  top: -76px;
}

.rco-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.rco-vmenublock
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.rco-vmenublock-body
{
  position: relative;
  padding: 0;
}


.rco-vmenublock
{
  margin: 0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.rco-vmenublockheader
{
  margin-bottom: 0;
}

.rco-vmenublockheader, .rco-vmenublockheader h3.t
{
  position: relative;
  height: 34px;
}

.rco-vmenublockheader h3.t,
.rco-vmenublockheader h3.t a,
.rco-vmenublockheader h3.t a:link,
.rco-vmenublockheader h3.t a:visited, 
.rco-vmenublockheader h3.t a:hover
{
  color: #144657;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
}

.rco-vmenublockheader h3.t
{
  margin:0;
  padding: 0 10px 0 23px;
  white-space: nowrap;
  line-height: 34px;	
}

.rco-vmenublockheader .l, .rco-vmenublockheader .r
{
  position: absolute;
  height: 34px;
  background-image: url('../images/vmenublockheader.png');
}

.rco-vmenublockheader .l
{
  left: 0;
  right: 17px;
}

.rco-vmenublockheader .r
{
  width: 1920px;
  right: 0;
  clip: rect(auto, auto, auto, 1903px);
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.rco-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.rco-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


.rco-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.rco-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.rco-vmenu, ul.rco-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.rco-vmenu ul
{
  display: none;
}

ul.rco-vmenu ul.active
{
  display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.rco-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

ul.rco-vmenu li.rco-vmenu-separator
{
  display: block;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1px;
}

ul.rco-vmenu .rco-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border-top: solid 1px #BCBFB5;
}

ul.rco-vmenu a .r, ul.rco-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 100px;
  background-image: url('../images/vmenuitem.png');
}

ul.rco-vmenu a .l
{
  left: 0;
  right: 17px;
}

ul.rco-vmenu a .r
{
  width: 1920px;
  right: 0;
  clip: rect(auto, auto, auto, 1903px);
}

ul.rco-vmenu a .t, ul.rco-vmenu ul a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}

ul.rco-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 30px;
  color: #52554A;
  padding: 0 10px 0 22px;
  margin-left:0;
  margin-right:0;
}

ul.rco-vmenu a.active .l, ul.rco-vmenu a.active .r
{
  top: -70px;
}

ul.rco-vmenu a.active .t
{
  color: #FFFFFF;
}

ul.rco-vmenu a:hover .l, ul.rco-vmenu a:hover .r
{
  top: -35px;
}

ul.rco-vmenu a:hover .t
{
  color: #74D0D2;
}


/* end VMenuItem */

/* begin VMenuSubItem */
ul.rco-vmenu ul, ul.rco-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.rco-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  overflow: visible;
  background-image: url('../images/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 25px;
}

ul.rco-vmenu ul li
{
  padding: 0;
}

ul.rco-vmenu ul span, ul.rco-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.rco-vmenu ul a, ul.rco-vmenu ul a:link, ul.rco-vmenu ul a:visited, ul.rco-vmenu ul a:hover, ul.rco-vmenu ul a:active, ul.rco-vmenu ul span, ul.rco-vmenu ul span span
{
  line-height: 20px;
  color: #144657;
  font-size: 11px;
  margin-left: 0;
}

ul.rco-vmenu ul
{
    margin:0 0 0 0;
}

ul.rco-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.rco-vmenu ul li.rco-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.rco-vmenu ul .rco-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.rco-vmenu ul li.rco-vmenu-separator-first
{
    padding-bottom:0;
}

ul.rco-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 50px;
}

ul.rco-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 75px;
}

ul.rco-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 100px;
}

ul.rco-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 125px;
}


ul.rco-vmenu ul li a.active
{
  color: #20211C;
  background-position: 25px -50px;
}

ul.rco-vmenu ul li li a.active
{
  background-position: 50px -50px;
}

ul.rco-vmenu ul li li li a.active
{
  background-position: 75px -50px;
}

ul.rco-vmenu ul li li li li a.active
{
  background-position: 100px -50px;
}

ul.rco-vmenu ul li li li li li a.active
{
  background-position: 125px -50px;
}



ul.rco-vmenu ul li a:hover, ul.rco-vmenu ul li a:hover.active
{
  color: #0C2627;
  background-position: 25px -25px;
}


ul.rco-vmenu ul li li a:hover, ul.rco-vmenu ul li li a:hover.active
{
  background-position: 50px -25px;
}

ul.rco-vmenu ul li li li a:hover, ul.rco-vmenu ul li li li a:hover.active
{
  background-position: 75px -25px;
}

ul.rco-vmenu ul li li li li a:hover, ul.rco-vmenu ul li li li li a:hover.active
{
  background-position: 100px -25px;
}

ul.rco-vmenu ul li li li li li a:hover, ul.rco-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -25px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.rco-block
{
  position: relative;
  margin: 0 auto;
  min-width: 17px;
  min-height: 17px;
}

.rco-block-body
{
  position: relative;
  padding: 3px;
}

.rco-block-tr, .rco-block-tl, .rco-block-br, .rco-block-bl, .rco-block-tc, .rco-block-bc,.rco-block-cr, .rco-block-cl
{
  position: absolute;
}

.rco-block-tr, .rco-block-tl, .rco-block-br, .rco-block-bl
{
  width: 16px;
  height: 16px;
  background-image: url('../images/block_s.png');
}

.rco-block-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 8px, 8px, auto);
}

.rco-block-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 8px, 8px);
}

.rco-block-bl
{
  bottom: 0;
  left: 0;
  clip: rect(8px, 8px, auto, auto);
}

.rco-block-br
{
  bottom: 0;
  right: 0;
  clip: rect(8px, auto, auto, 8px);
}

.rco-block-tc, .rco-block-bc
{
  left: 8px;
  right: 8px;
  height: 16px;
  background-image: url('../images/block_h.png');
}

.rco-block-tc
{
  top: 0;
  clip: rect(auto, auto, 8px, auto);
}

.rco-block-bc
{
  bottom: 0;
  clip: rect(8px, auto, auto, auto);
}

.rco-block-cr, .rco-block-cl
{
  top: 8px;
  bottom: 8px;
  width: 16px;
  background-image: url('../images/block_v.png');
}

.rco-block-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 8px);
}

.rco-block-cl
{
  left: 0;
  clip: rect(auto, 8px, auto, auto);
}

.rco-block-cc
{
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background-color: #D8D9D3;
}

.rco-block
{
  margin: 5px;
}

/* end Box, Block */

/* begin BlockHeader */
.rco-blockheader
{
  margin-bottom: 2px;
}

.rco-blockheader, .rco-blockheader h3.t
{
  position: relative;
  height: 34px;
}

.rco-blockheader h3.t,
.rco-blockheader h3.t a,
.rco-blockheader h3.t a:link,
.rco-blockheader h3.t a:visited, 
.rco-blockheader h3.t a:hover
{
  color: #C1E5F1;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
}

.rco-blockheader h3.t
{
  margin:0;
  padding: 0 10px 0 5px;
  white-space: nowrap;
  line-height: 34px;	
}

.rco-blockheader .l, .rco-blockheader .r
{
  position: absolute;
  height: 34px;
  background-image: url('../images/blockheader.png');
}

.rco-blockheader .l
{
  left: 0;
  right: 8px;
}

.rco-blockheader .r
{
  width: 1920px;
  right: 0;
  clip: rect(auto, auto, auto, 1912px);
}

/* end BlockHeader */

/* begin Box, BlockContent */
.rco-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 19px;
  min-height: 19px;
}

.rco-blockcontent-body
{
  position: relative;
  padding: 4px;
}

.rco-blockcontent-tr, .rco-blockcontent-tl, .rco-blockcontent-br, .rco-blockcontent-bl, .rco-blockcontent-tc, .rco-blockcontent-bc,.rco-blockcontent-cr, .rco-blockcontent-cl
{
  position: absolute;
}

.rco-blockcontent-tr, .rco-blockcontent-tl, .rco-blockcontent-br, .rco-blockcontent-bl
{
  width: 18px;
  height: 18px;
  background-image: url('../images/blockcontent_s.png');
}

.rco-blockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 9px, 9px, auto);
}

.rco-blockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 9px, 9px);
}

.rco-blockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(9px, 9px, auto, auto);
}

.rco-blockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(9px, auto, auto, 9px);
}

.rco-blockcontent-tc, .rco-blockcontent-bc
{
  left: 9px;
  right: 9px;
  height: 18px;
  background-image: url('../images/blockcontent_h.png');
}

.rco-blockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 9px, auto);
}

.rco-blockcontent-bc
{
  bottom: 0;
  clip: rect(9px, auto, auto, auto);
}

.rco-blockcontent-cr, .rco-blockcontent-cl
{
  top: 9px;
  bottom: 9px;
  width: 18px;
  background-image: url('../images/blockcontent_v.png');
}

.rco-blockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 9px);
}

.rco-blockcontent-cl
{
  left: 0;
  clip: rect(auto, 9px, auto, auto);
}

.rco-blockcontent-cc
{
  position: absolute;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  background-color: #DFE0DC;
}

.rco-blockcontent-body, 
.rco-blockcontent-body li, 
.rco-blockcontent-body a,
.rco-blockcontent-body a:link,
.rco-blockcontent-body a:visited,
.rco-blockcontent-body a:hover
{
  color: #10100E;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.rco-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.rco-blockcontent-body a
{
  color: #1C657D;

}

.rco-blockcontent-body a:link
{
  color: #1C657D;

}

.rco-blockcontent-body a:visited, .rco-blockcontent-body a.visited
{
  color: #4F5247;
  text-decoration: none;
}

.rco-blockcontent-body a:hover, .rco-blockcontent-body a.hover
{
  color: #BA4B1C;
  text-decoration: none;

}

.rco-blockcontent-body ul li
{
  line-height: 125%;    
  color: #22231F;

  padding: 0 0 0 14px;
  background-image: url('../images/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Box, Post */
.rco-post
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.rco-post-body
{
  position: relative;
  padding: 10px;
}


.rco-post
{
  margin: 7px;
}

a img
{
  border: 0;
}

.rco-article img, img.rco-article
{
  
}

.rco-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.rco-article table, table.rco-article
{
 
}

.rco-article th, .rco-article td
{
  padding: 2px;
  vertical-align: top;
  text-align: left;
}

.rco-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
  float:left;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.rco-postheader
{
  color: #081B21;
  margin: 5px 0 5px 0;
}

h2.rco-postheader, 
h2.rco-postheader a, 
h2.rco-postheader a:link, 
h2.rco-postheader a:visited,
h2.rco-postheader a.visited,
h2.rco-postheader a:hover,
h2.rco-postheader a.hovered
{
  font-size: 24px;
}

h2.rco-postheader a, h2.rco-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #09222A;
}

h2.rco-postheader a:visited, h2.rco-postheader a.visited
{

  color: #4F5247;
}


h2.rco-postheader a:hover,  h2.rco-postheader a.hovered
{


  color: #2B9ABF;
}

h2.rco-postheader img
{
  border: none !important;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
/* end PostHeaderIcon */

/* begin PostBullets */
.rco-post ol, .rco-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.rco-post li
{
  font-size: 13px;
}

.rco-post li ol, .rco-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.rco-post li
{
  color: #081B21; 

  padding: 0;
}


/* end PostBullets */

/* begin PostQuote */
.rco-postcontent blockquote,
.rco-postcontent blockquote a,
.rco-postcontent blockquote a:link,
.rco-postcontent blockquote a:visited,
.rco-postcontent blockquote a:hover
{
  color: #10100E;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

.rco-postcontent blockquote p
{
   margin: 2px 0 2px 15px;
}

.rco-postcontent blockquote
{
   border: solid 1px #B3B5AA;
  margin: 10px 10px 10px 50px;
  padding: 0 0 0 37px;
  background-color: #D8D9D3;
  background-image: url('../images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.rco-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.rco-footer-b 
{
  position: absolute;
  left:15px;
  right:15px;
  bottom:0;
  height:50px;
  background-image: url('../images/footer_b.png');
}

.rco-footer-r, .rco-footer-l
{
  position: absolute;
  height:50px;
  background-image: url('../images/footer_s.png');
  bottom: 0;
}

.rco-footer-l
{
  left: 0;
  width:15px;
}

.rco-footer-r
{
  right: 0;
  width:30px;
  clip: rect(auto, auto, auto, 15px);
}

.rco-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: #237C9A;
}

.rco-footer-body
{
    position:relative;
    padding: 5px;
}


.rco-footer-text p
{
  padding:0;
  margin:0;
}

.rco-footer,
.rco-footer a,
.rco-footer a:link,
.rco-footer a:visited,
.rco-footer a:hover
{
    color: #DADBD6;
    font-size: 11px;
}

.rco-footer-text
{
  min-height: 5px;
  padding: 0 10px 0 10px;

}

.rco-footer,
.rco-footer-text,
.rco-footer p
{
  text-align: right;
}

.rco-footer a,
.rco-footer a:link
{
  color: #37ABD2;
  text-decoration: none;
}

.rco-footer a:visited
{
  color: #BABDB3;

}

.rco-footer a:hover
{
  color: #BA4B1C;

  text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.rco-page-footer, 
.rco-page-footer a,
.rco-page-footer a:link,
.rco-page-footer a:visited,
.rco-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #2686A6;
}

.rco-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #5C5F53;
}
/* end PageFooter */

/* begin LayoutCell, content */




/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */
.rco-sidebar1 .rco-layout-glare-image
{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:100%;
  height:321px;
  background-image: url('../images/sidebar_g.png');
  background-repeat: no-repeat;
}

.rco-content-layout .rco-sidebar1
{
  background-image: url('../images/sidebar_bg.png');
  width: 225px;
}

/* end LayoutCell, sidebar1 */




.overview-table .rco-layout-cell
{
    width:33%;
}


.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}

.style1 {
	background-color: red;
	color: white;
}

.style2 {
	background-color: green;
	color: black;
}

.style3 {
	background-color: red;
	color: white;
}

.actions td {
	border: 0px none !important;
	padding: 2px !important;
}

.style-table{
	
}


